<h2>Планы</h2>

<ul>
  <li>Добаивть компоненты список, просмотр, редактирование</li>
  <li>Добаивть маршрутизацию между компонентами</li>
  <li>Добавить загрузку списка из бд</li>
  <li>
    Добавить отображение списка данных, добавить переходы на страницу просмотра
  </li>
  <li>Добавить в параметры id</li>
  <li>
    На странице просмотра тоже надо загружать. Создание сервиса, перенос в него
    логики загрузки данных
  </li>
  <li>Подключение сервиса на странице списка и на странице просмотра</li>
  <li>Отображение товара на странице просмотра</li>
  <li>Отображение товара на странице редактирования</li>
  <li>Реализация функции сохранения товара</li>
</ul>

<ul>
  <li *ngFor="let product of products">
    <h5>{{ product.title }}</h5>
    <p>{{ product.anons }}</p>
    <p>Категория {{ product.category.title }}</p>
    <a [routerLink]="['view', product.id]">Далее</a>
  </li>
</ul>
